b {
  color: red;
}

#statistiko {
  font-size: 10px;
}

#butono {
  line-height: 12px;
  width: 18px;
  font-size: 9pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
  position: absolute;
  top: 0;
  right: 0;
}

#enigo {
  font-size: 22px;
  border-radius: 4px;
  width: 95%;
  padding: 0;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

o {
  vertical-align: super;
  font-size: 9px;
  font-style: italic;
  color: red;
}
