/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap'); */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

#titolo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: flex; 
  justify-content: center
}

a {
  color: black
}

b {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
}

h {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

#checkbox {
  position: sticky;
  left: 15px;
}

#enigo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  border: 2px solid #89E682;
  border-radius: 4px;
  width: 100%;
  padding: 0;
}

label {
  font-size: 15px;
}

pre {
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 15px;
}

.border-highlight {
  background-color: #89E682;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #010409;
    border: 1px solid white;
  }
  input {
    color: white;
    background: #010409;
    /* background: #121212; */
  }
  b {
    color: #89E682;
  }
  a {
    color: white;
  }
}

svg {
  width: 40px;
  height: 30px;
}
svg:hover {
  fill: white;
}

o {
  vertical-align: super;
  font-size: 9px;
  font-style: italic;
  color: red;
}

img {
  height: 20%;
  width: fit-content;
}

fak {
  color: green;
}