/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap'); */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

#titolo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  display: flex; 
  justify-content: center
}

a {
  color: black
}

b {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: blue;
}

h {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

#checkbox {
  position: sticky;
  left: 15px;
}

#enigo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  border: 2px solid #89E682;
  border-radius: 4px;
  width: 75%;
  padding: 0;
}

#forigi {
  font-size: 19px;
  /* color: aliceblue; */
  border: 2px solid #89E682;
  border-radius: 4px;
  /* background-color: black; */
  width: 10%;
}

label {
  font-size: 15px;
}

pre {
  font-size: 10px;
  position: absolute;
  top: 5px;
  right: 15px;
}

.border-highlight {
  background-color: #89E682;
  border-radius: 4px;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #1e2a3d;
    border: 1px solid white;
  }
  input {
    color: white;
    background: #1e2a3d;
    /* background: #121212; */
  }
  b {
    color: #89E682;
  }
  a {
    color: rgb(255, 255, 255);
  }
}

svg {
  width: 40px;
  height: 30px;
}
svg:hover {
  fill: white;
}

o {
  vertical-align: super;
  font-size: 9px;
  font-style: italic;
  color: red;
}

img {
  height: 20%;
  width: fit-content;
}

/* fak {
  vertical-align: super;
  color: orange;
  font-size: 10px;
} */

.nigro {
  color: #000000;
}

.blanko {
  color: #ffffff;
}

#hazardilo {
  font-size: 10px;
  /* color: aliceblue; */
  border: 2px solid #89E682;
  border-radius: 4px;
  /* background-color: black; */
  width: auto;
  margin-bottom: 4px;
}

/* por vinjetoj */
abbr[title] {
  position: relative;
  
  /* ensure consistent styling across browsers */
  text-decoration: underline dotted;
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);
  
  /* position tooltip like the native one */
  position: absolute;
  left: 0;
  bottom: -30px;
  width: auto;
  white-space: nowrap;
  
  /* style tooltip */
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 14px;
  padding: 3px 5px;
}

#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: yellow;
  color: #010409;
  border: 4px solid blue;
  padding: 15px 20px;
  max-width: 90%;
  display: none;
  z-index: 9999;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
#popup button {
  font-size: 8px;
  position: sticky;
  position: fixed;
  top: 0px;
  right: 4px;
  margin-top: 5px;
  padding: 5px 5px;
  background: #ffc107;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#popup a {
  color: blue;
}

button {
  font-size: 15px;
  /* color: aliceblue; */
  border: 2px solid #89E682;
  border-radius: 4px;
  /* background-color: black; */
  width: auto;
  margin-bottom: 4px;
}